html {
	
}
body {
	
}
div {
	font-size: 9pt;
}
table {
	font-size: 9pt;
}
body {
	margin: 0px; text-align: center; font-size: 9pt; background-color: rgb(243, 240, 240);
}
table {
	font-size: 9pt;
}
a:link {
	text-align: justify; color: rgb(38, 38, 38); line-height: 1.5em; font-size: 9pt; text-decoration: none;
}
a:visited {
	text-align: justify; color: rgb(38, 38, 38); line-height: 1.5em; font-size: 9pt; text-decoration: none;
}
a:hover {
	text-align: justify; color: rgb(38, 38, 38); line-height: 1.5em; font-size: 9pt; text-decoration: underline;
}
a:active {
	text-align: justify; color: rgb(38, 38, 38); line-height: 1.5em; font-size: 9pt; text-decoration: none;
}
.wlink:link {
	color: rgb(255, 255, 255); font-size: 9pt; font-weight: bold; text-decoration: none;
}
.wlink:visited {
	color: rgb(255, 255, 255); font-size: 9pt; font-weight: bold; text-decoration: none;
}
.wlink:hover {
	color: rgb(255, 0, 0); font-size: 9pt; font-weight: bold; text-decoration: none;
}
.wlink:active {
	color: rgb(255, 255, 255); font-size: 9pt; font-weight: bold; text-decoration: none;
}
.blink:link {
	color: rgb(11, 70, 163); font-size: 10pt; text-decoration: none;
}
.blink:visited {
	color: rgb(11, 70, 163); font-size: 10pt; text-decoration: none;
}
.blink:hover {
	color: rgb(255, 0, 0); font-size: 10pt; text-decoration: underline;
}
.blink:active {
	color: rgb(11, 70, 163); font-size: 10pt; text-decoration: none;
}
.clink:link {
	color: rgb(164, 43, 48); font-size: 9pt; text-decoration: none;
}
.clink:visited {
	color: rgb(164, 43, 48); font-size: 9pt; text-decoration: none;
}
.clink:hover {
	color: rgb(255, 204, 51); font-size: 9pt; text-decoration: underline;
}
.clink:active {
	color: rgb(164, 43, 48); font-size: 9pt; text-decoration: none;
}
.zlink:link {
	color: rgb(51, 51, 51); font-size: 10.5pt; text-decoration: none;
}
.zlink:visited {
	color: rgb(51, 51, 51); font-size: 10.5pt; text-decoration: none;
}
.zlink:hover {
	color: rgb(255, 102, 0); font-size: 10.5pt; text-decoration: underline;
}
.zlink:active {
	color: rgb(51, 51, 51); font-size: 10.5pt; text-decoration: none;
}
.llink:link {
	color: rgb(14, 126, 176); font-size: 10pt; font-weight: bold; text-decoration: none;
}
.llink:visited {
	color: rgb(14, 126, 176); font-size: 10pt; font-weight: bold; text-decoration: none;
}
.llink:hover {
	color: rgb(255, 102, 0); font-size: 10pt; font-weight: bold; text-decoration: underline;
}
.llink:active {
	color: rgb(14, 126, 176); font-size: 10pt; font-weight: bold; text-decoration: none;
}
.content {
	line-height: 1.5em; font-size: 10.5pt;
}
#infocontent div {
	line-height: 1.5em; font-size: 10.5pt;
}
#container_page {
	margin: 0px auto; width: 1002px; text-align: left; min-height: 100%; background-color: rgb(255, 255, 255);
}
#container_content {
	padding: 0px; width: 1002px;
}
#headnav {
	width: 1002px; padding-right: 0px; padding-left: 0px;
}
#head {
	width: 1002px;
}
#nav {
	width: 1002px;
}
#page {
	width: 1002px; clear: both;
}
#listleft {
	width: 25%; float: left; background-color: rgb(238, 238, 238);
}
#listright {
	width: 70%; float: right; background-color: rgb(255, 255, 255);
}
#position {
	padding: 3px;
}
.listtitfont {
	font-size: 12pt; font-weight: normal;
}
#listtit {
	padding: 15px 5px 10px 15px; font-size: 12pt; font-weight: normal;
}
#newslist {
	padding: 8px 15px; width: 100%; font-size: 10.5pt;
}
#newslist div {
	line-height: 1.5em; font-size: 10.5pt;
}
#newslist img {
	border: 2px solid rgb(255, 255, 255); border-image: none; background-color: rgb(255, 255, 255);
}
#foot {
	color: rgb(255, 255, 255); clear: both; background-repeat: repeat-x;
}
.kuang {
	background-position: center; border: 1px solid rgb(217, 217, 217); border-image: none; background-repeat: no-repeat; background-color: rgb(255, 255, 255);
}
.baizi {
	color: rgb(255, 255, 255); font-size: 10pt;
}
.nanzi {
	color: rgb(4, 39, 79);
}
.huizi {
	color: rgb(255, 234, 3); clear: both;
}
.biaoti {
	color: rgb(104, 105, 106); font-family: "宋体"; font-size: 9pt; font-weight: bolder;
}
.biaoti1 {
	color: rgb(11, 70, 163); line-height: 1.5em; clear: both; font-family: "宋体"; font-size: 14px; font-weight: bold;
}
.biaoti5 {
	color: rgb(33, 47, 76); clear: both; font-family: "宋体"; font-size: 13px; font-weight: bold;
}
.biaoti2 {
	color: rgb(60, 82, 207); clear: both; font-family: "宋体"; font-size: 14px; font-weight: bold;
}
.biaoti3 {
	padding: 10px 20px; text-align: center; color: rgb(11, 70, 163); line-height: 1.5em; clear: both; font-family: "宋体"; font-size: 20px; font-weight: bold;
}
.biaoti4 {
	color: rgb(126, 161, 206); clear: both; font-family: "华文行楷"; font-size: 24pt; font-weight: bolder;
}
.headbg {
	background-position: right top; background-image: url("images/head_1.jpg"); background-repeat: no-repeat;
}
.mainleftbg1 {
	background-position: right bottom; background-image: url("images/pin3_bottom.gif"); background-repeat: no-repeat;
}
.mainleftbg2 {
	background-position: right bottom; background-image: url("images/mainleft1.gif"); background-repeat: no-repeat;
}
.mainrightbg1 {
	background-position: top; background-image: url("images/mainright4.gif"); background-repeat: no-repeat;
}
.mainrightbg2 {
	background-position: top; background-image: url("images/mainright5_4.gif"); background-repeat: repeat-x;
}
.listleftbg1 {
	background-position: left bottom; background-image: url("images/list_bg.gif"); background-repeat: repeat-x;
}
.listleftbg2 {
	background-position: top; background-image: url("images/listleft3.gif"); background-repeat: repeat-x;
}
.listrightbg1 {
	background-position: left top; clear: both; background-image: url("images/listright1_1.gif"); background-repeat: no-repeat;
}
.toolsInput {
	width: 100px;
}
.xian {
	border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: dashed; background-repeat: repeat-x;
}
.foothang {
	color: rgb(255, 255, 255); line-height: 1.5em;
}
.ourfont {
	background: url("images/sea_bg.gif") repeat-x left; width: 215px; height: 24px;
}
.ourfont img {
	background: url("images/sea.gif") no-repeat left; width: 0px; height: 0px; padding-top: 24px; padding-left: 30px; float: right;
}
.SearchTitleInput {
	background: url("images/search.gif"); border: 0px currentColor; border-image: none; width: 173px; height: 22px; color: rgb(255, 255, 255); line-height: 24px; padding-left: 12px;
}
